body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin-top: 80px;
  transition: all 0.5s ease;
  margin-left: 250px;
  margin-right: 35px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .content {
    margin-top: 80px;
    transition: all 0.5s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
